<li>
  <h3>
    <a href="lessons/story/{{ story.id }}">{{ story.title }}</a>
  </h3>

  <picture>
    <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ story.image.id | default: "2d0c060b-e899-4a81-8e7e-dbd42c666616" }}?format=avif&height=160&width=160,
    https://fdnd-agency.directus.app/assets/{{ story.image.id | default: "2d0c060b-e899-4a81-8e7e-dbd42c666616" }}?format=avif&height=320&width=320 2x">
    <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ story.image.id | default: "2d0c060b-e899-4a81-8e7e-dbd42c666616" }}?format=webp&height=160&width=160,
    https://fdnd-agency.directus.app/assets/{{ story.image.id | default: "2d0c060b-e899-4a81-8e7e-dbd42c666616" }}?format=webp&height=320&width=320 2x">
    <img
      src="https://fdnd-agency.directus.app/assets/{{ story.image.id | default: "2d0c060b-e899-4a81-8e7e-dbd42c666616" }}"
      alt="{{ story.image.title }}"
      height="80"
      width="80"
      loading="lazy">
  </picture>

  <p>{{ story.language.language }}</p>
  <p>{{ story.playtime }}</p>
</li>