        <form method="GET" action="/playlist" class="search-container">
            <label for="searchBar">Search Playlists</label>
            <input
                type="text"
                id="searchBar"
                name="q"
                value="{{ request.params.q }}"
                placeholder="Search playlists..."
            />
            <button type="submit">Search</button>
        </form>
        <div class="filters">
            <button class="animal">animal</button>
            <button class="season">season</button>
            <button class="language">language</button>
            <button class="sorting">sorting</button>
        </div>
    <div id="playlistList">
        {% for playlist in playlists %}
        <div class="playlist-card" data-name="{{ playlist.name | downcase }}" data-lang="{{ playlist.language }}">
            
            {% if playlist.image %}
            <img src="https://fdnd-agency.directus.app/assets/{{ playlist.image }}?width=112&height=95" alt="Image of {{ playlist.name }}">
            {% else %}
            <img src="/assets/pinguin.png" alt="Default playlist image"> 
            {% endif %} 

            <div class="playlist-card-content">
                <h2>{{ playlist.name }}</h2>
                <p>{{ playlist.description }}</p>
            </div>
            <!-- Play Button -->
            <button class="play-button">
                Play {{ playlist.name }}
            </button>
